.chat-message h4 {
  margin-bottom: 10px;
  margin-left: 50px;
  color: rgb(128, 128, 128);
}
.chat-message-image {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  vertical-align: middle;
}
.chat-message span {
  background-color: rgba(128, 128, 128, 0.123);
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}
.chat-message {
  margin-left: 20px;
}

.chat-message-sent {
  text-align: right;
  margin-top: 20px;
}
.chat-message-sent span {
  background-color: rgb(0, 140, 255);
  padding: 8px;
  border-radius: 8px;

  font-weight: bold;
  color: white;
}

.tip-sent {
  position: relative;
  top: 10px;
  right: 5px;
}
.tip-received {
  position: relative;
  top: 10px;
  left: 5px;
}
