footer {
  /* 
    These two lines replicate the "blurry white background"
    effect, as seen in iMessage
  */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);

  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer input {
  padding: 10px;
  width: 90vw;
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.493);
}
