header {
  height: 80px;
  background-color: mediumpurple;
  /* 
    Protip: layering multiple box shadows can create a
    richer shadow effect than just using a single one.
  */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15),
    0px 1px 0.5px rgba(0, 0, 0, 0.075);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding: 15px;
  color: white;
}
header span {
  margin-right: auto;
}

.chatAvatar {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chatAvatar img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.chatAvatar span {
  margin: 5px 0;
  font-weight: bold;
}
svg {
  margin: 15px;
}
#video {
  margin-left: auto;
}
